.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  margin-top: 50px;
}

/* Empurrar conteúdo para o lado quando a sidebar está aberta em telas pequenas */
.content.with-sidebar {
  margin-left: 250px;
  margin-top: 50px;
}

@media (min-width: 769px) {
  /* Garante que em telas grandes a sidebar nunca interfira no conteúdo */
  .content {
    margin-left: 0;
  }
  .content.with-sidebar {
    margin-top: 0px;
  }
}
