/* Estilos gerais da sidebar */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: rgb(27, 38, 56);
    color: white;
    padding: 20px;
    position: relative;
}

/* Título da sidebar */
.sidebar h3 {
    text-align: center;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

/* Links da sidebar */
.sidebar .nav-link {
    color: #ccc;
    padding: 10px 0;
}

.sidebar .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.sidebar .nav-link:hover {
    color: #fff;
}

.logout-button {
    position: absolute;
    bottom: 20px; /* Distância do rodapé da sidebar */
    width: calc(100% - 40px); /* Ajuste para caber no padding lateral */
    left: 20px; /* Distância da lateral */
  }